{% extends 'dashboard/base.html' %}
{% block content %}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-7 align-self-center">
                <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">Table Layout Coloured
                </h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0 p-0">
                            <li class="breadcrumb-item"><a href="index.html" class="text-muted">Home</a></li>
                            <li class="breadcrumb-item text-muted active" aria-current="page">Library</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-5 align-self-center">
                <div class="customize-input float-right">
                    <select class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius">
                        <option selected>Aug 19</option>
                        <option value="1">July 19</option>
                        <option value="2">Jun 19</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Murojatlar</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="bg-primary text-white">
                                    <tr>
                                        <th>#</th>
                                        <th>Ism Familiya</th>
                                        <th>Phone</th>
                                        <th>Sana</th>
                                        <th>Holat</th>
                                        <th>Harakatlar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for contact in contacts %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{contact.full_name}}</td>
                                        <td>-</td>
                                        <td>{{contact.created_at}}</td>
                                        {% if contact.is_show %}
                                        <td><button class="btn btn-success">Ko`rilgan</button></td>
                                        <td><button class="btn btn-info">Statusni o`zgartirish
                                        </button></td>
                                        {% else %}
                                        <td><button class="btn btn-warning">Yangi</button></td>
                                        <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#info-alert-modal{{contact.id}}">Holatni o`zgartirish</button></td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for contact in contacts %}

                                <!-- Info Alert Modal -->
    <div id="info-alert-modal{{contact.id}}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body p-4">
                    <div class="text-center">
                        <i class="dripicons-information h1 text-info"></i>
                        <div class="card-body">
                            <form action="{% url 'updateStatus' contact.id %}" method="get">
                                <h4 class="card-title">Murojat statusini ko`rildiga o`zgaritish</h4>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1" required>
                                    <label class="custom-control-label" for="customCheck1">Roziman</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info my-2" style="color: white;" >Yuborish</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
     <footer class="footer text-center text-muted">
        All Rights Reserved by Adminmart. Designed and Developed by <a
            href="https://wrappixel.com">WrapPixel</a>.
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
{% endblock %}